body {
  font-family: Arial, sans-serif;
  background-color:lightgray;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #131921;
  color: #ffae00;
  padding: 10px 20px;
  font-weight: bolder;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-size: 1.2em;
  color: #ffae00;
  text-decoration: none;
}

nav ul li.brand-name {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: auto;
}

h2 {
  color: #333;
  font-family: 'Times New Roman', Times, serif;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0 10px 0;
}

.product:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.product img {
  max-width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.product p {
  color: #555;
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.add-to-cart:hover {
  background-color: #218838;
}

#cart-item-count {
  font-weight: bold;
  color: #fff;
  background-color: #dc3545;
  padding: 3px 7px;
  border-radius: 50%;
}
.user-name{
  font-size: 1.2em;
}
.search-form {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.search-input {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.search-button {
  padding: 5px 10px;
  background-color: #218838;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1a6f30;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.search-result-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.search-result-item img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.search-result-item h2 {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

.search-result-item p {
  color: #555;
}

.search-result-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.please-login-container {
  text-align: center;
  margin-top: 100px;
}

.please-login-container h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.please-login-container p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.please-login-container .button {
  background-color: #0eb9b9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.please-login-container .button:hover {
  background-color: #0ca8a8;
}
